<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandaria.farmland.biz.mapper.ActivityMapper">

    <select id="query" statementType="PREPARED" resultMap="activity">
        select
        a.id
        ,a.description
        ,a.reward_image_url
        ,a.available_order_task_number
        ,date_format(a.start_time,'%Y-%m-%d %H:%i:%s') as start_time
        ,date_format(a.end_time,'%Y-%m-%d %H:%i:%s') as end_time
        ,date_format(a.add_date,'%Y-%m-%d %H:%i:%s') as add_date
        ,o.id as order_id
        ,o.order_name
        ,o.description as order_description
        ,o.task_number
        ,o.process_image_url
        from
        activity a
        inner join merchant_order o on a.order_id = o.id
        where
        a.id = #{id, jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="Activity" useGeneratedKeys="true" keyProperty="id">
        insert into activity(
        id
        ,description
        ,order_id
        ,reward_image_url
        ,available_order_task_number
        ,start_time
        ,end_time
        ,add_date
        )
        values
        (
        #{id, jdbcType=INTEGER}
        ,#{description, jdbcType=VARCHAR}
        ,#{order.id, jdbcType=INTEGER}
        ,#{rewardImageUrl, jdbcType=VARCHAR}
        ,#{availableOrderTaskNumber, jdbcType=INTEGER}
        ,str_to_date(#{startTime, jdbcType=TIMESTAMP, javaType=String},'%Y-%m-%d %H:%i:%s')
        ,str_to_date(#{endTime, jdbcType=TIMESTAMP, javaType=String},'%Y-%m-%d %H:%i:%s')
        ,now()
        )
    </insert>

    <update id="update" parameterType="Activity">
        update activity set
        description=#{description, jdbcType=VARCHAR}
        ,order_id=#{order.id, jdbcType=INTEGER}
        ,reward_image_url=#{rewardImageUrl, jdbcType=VARCHAR}
        ,available_order_task_number=#{availableOrderTaskNumber, jdbcType=INTEGER}
        ,start_time=#{startTime, jdbcType=TIMESTAMP, javaType=String}
        ,end_time=#{endTime, jdbcType=TIMESTAMP, javaType=String}
        where id = #{id, jdbcType=INTEGER}
    </update>

    <resultMap id="activity" type="Activity">
        <id property="id" column="id"></id>
        <result property="description" column="description"></result>
        <result property="rewardImageUrl" column="reward_image_url"></result>
        <result property="availableOrderTaskNumber" column="available_order_task_number"></result>
        <result property="startTime" column="start_time" javaType="String" jdbcType="TIMESTAMP"></result>
        <result property="endTime" column="end_time" javaType="String" jdbcType="TIMESTAMP"></result>
        <result property="addDate" column="add_date" javaType="String" jdbcType="TIMESTAMP"></result>
        <association property="order" javaType="Order" resultMap="order"/>
    </resultMap>

    <resultMap id="order" type="Order">
        <id property="id" column="order_id"></id>
        <result property="description" column="order_description"></result>
        <result property="taskNumber" column="task_number"></result>
        <result property="processImageUrl" column="process_image_url"></result>
    </resultMap>


</mapper>